.app-container {
    max-width: 90%;
    margin: 0 auto 3em auto;
}

@media (max-width: 769px) {
    body {
        font-size: 11px;
    }
}

@media (max-width: 450px) {
    .table-container {
        height: 450px;
    }

    .title h2 {
        font-size: 1.5rem;
    }

    .title h3 {
        font-size: 1.2rem;
    }

    .title {
        padding-bottom: 1rem;
    }
}