.table-container {
    border-radius: 8px;
    padding: 1.875rem;
    border: 1px solid #dee2e6;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.legend-marker {
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border: none;
}

.declaration>div {
    background-color: rgb(0, 100, 0);
}

.ep>div {
    background-color: rgb(139, 0, 0);
}

.esv>div {
    background-color: rgb(255, 140, 0);
}

.legent-text {
    font-weight: 500;
}

.declaration p,
.ep p,
.esv p {
    margin: 0;
    padding-left: 5px;
}
